body{
  margin: 0;
  padding: 0;
  background-image: url(https://wallpapercave.com/wp/wp2035107.jpg);
  background-size: 100% 100%;
}
body::-webkit-scrollbar{
  display: none;
}
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.Search{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Search>input{
  height: 30px;
  width: 220px;
  border-radius: 30px;
}
.Search>button{
  height: 30px;
  border-radius: 30px;
}
.Container{
  display: grid;
  grid-template-columns: auto auto auto auto ;
}
.Row{
  margin-left:30px ;
  display: flex;
  margin-top: 50px;
  height: 100%;
  width: 280px;
  border-radius: 30px;
  background-color: blue;
}
.Cart{
  height: 140px;
  width: 150px;
  background-color: aqua;
  border-radius: 10px;
}
